<h4>A New, Effective Process for Group Evaluation</h4>
<br>
<p>Welcome to our peer evaluation tool. If you are a teacher, please click on "Admin" and if you are a student, please click on "Student Login".</p>
<p class="hide"><%= link_to 'Admin', students_path, :id => "links" %>.........<%= link_to 'Student Login', login_path, :id => "links" %></p>

