<h1>Evaluation System</h1>

<h2>Input of <%= @studentL.fname + ' ' + @studentL.lname + '.' +@studentL.dotNum.to_s%></h2>

<form>
  <div class="field">
    <label for="student_score">Score</label>
    <input type="text" name= "student_score">
  </div>

  <div class="field">
    <label for="student_comments">Comment</label>
    <input type="text" name= "student_comment">
  </div>

  <div class="field">
    <label for="student_comments">Comment</label>
    <input type="text" name= "student_comment">
  </div>

  <div class="field">
    <label for="student_comments">Comment</label>
    <input type="text" name= "student_comment">
  </div>

  <div class="actions">
    <input type="submit" value="Submit">
  </div>
</form>


